.image-container {
    position: relative;
}

body {
    padding-top: 40px; /* Espaço para a navbar fixa */
}

.card-title{
    font-size: 1.5rem;
    padding: 0; /* Ajuste se o card tiver padding que esteja influenciando */
}


.card-price {
    text-align: center;
    font-size: 2.0rem;
    font-family: price;
}

@font-face {
    font-family: price;
    src: url(../font/Extra\ Days.otf)
  }

.sold-banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    background-color: red;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    padding: 10px 70px;
    z-index: 10;
    opacity: 0.9;
    pointer-events: none;
}

.image-container img {
    width: 100%;
    height: 350px; /* Ajuste o valor conforme necessário para o tamanho desejado */
    object-fit: cover;
}

.logo-navbar {
    width: 80px; /* Largura fixa da logo */
    height: auto; /* Mantém a proporção */
}

.blur-image {
    filter: blur(1.5px);
    transition: filter 0.3s ease;
}

#fontNexa{
    font-family: Arial, Helvetica, sans-serif;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.oculto {
    display: none;
  }
  

.vehicle-image-container {
    position: relative;
    text-align: center;
}





